<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Qwhiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/q_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/q_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qwhiz">
        <activity android:name="com.example.Qwhiz.ScoresActivity"></activity>
        <activity android:name="com.example.Qwhiz.SignUpActivity" />
        <activity android:name="com.example.Qwhiz.EndGameActivity" />
        <activity android:name="com.example.Qwhiz.GameOptionsActivity" />
        <activity android:name="com.example.Qwhiz.InGameActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"             />
        <activity android:name="com.example.Qwhiz.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Qwhiz.MainActivity" />
    </application>

</manifest>